{% extends 'catalog/layouts/layout_base.html' %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Каталог товаров</h1>
            <p class="lead text-muted">В данном каталоге вы можете выбрать интересующие вас товары</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for object in object_list %}
                {% include 'catalog/layouts/layout_category.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}